extends layout

block content
  body.home.blog
    // Switecher area for demo end
    // Static navbar
    .navbar.navbar-default.menu-fixed
      .hidden-lg.hidden-md.hidden-sm
        h4 Rentfy
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .navbar-collapse.collapse
        .container
          ul#main-nav.nav.navbar-nav
            li#menu-item-41.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-41
              a(href='http://themes.layero.com/grahawp/') Home
              ul
      // /.nav-collapse
    .homepage-map
      script(type='text/javascript').
        locations [i] = [34.076257, -118.265818];
        mapicon [i] =  '<img width="80" height="80" src="http://themes.layero.com/grahawp/wp-content/uploads/2013/10/img2-1-80x80.jpg" class="attachment-mapimage wp-post-image" alt="img2 (1)" />';
        title [i] = '2138 Marathon St, LA';
        link [i] = 'http://themes.layero.com/grahawp/listings/2138-marathon-st-la/'
        image [i] = '<img src=http://themes.layero.com/grahawp/wp-content/uploads/2013/10/img2-1-500x418.jpg width="500px" height="200px">';
        type [i] = 'Villa';
        status [i] = 'rent';
        area [i] = '1940Sq Ft';
        beds [i] = '3';
        baths [i] = '1';
        amenities [i] = '<li>Air Conditioning</li><li>Attached Baths</li><li>Balcony</li><li>Bath Tub</li><li>Fireplace</li><li>Fully Furnished</li><li>Garage</li><li>Garden</li><li>Gym</li><li>Hot Water</li>';
        agent [i] = 'sandra@example.com';
        i++;
      script(type='text/javascript').
        locations [i] = [34.074346, -118.333754];
        mapicon [i] =  '<img width="80" height="80" src="http://themes.layero.com/grahawp/wp-content/uploads/2013/10/img3-80x80.jpg" class="attachment-mapimage wp-post-image" alt="img3" />';
        title [i] = '1451 S Orange Grove Ave Los Angeles';
        link [i] = 'http://themes.layero.com/grahawp/listings/1451-s-orange-grove-ave-los-angeles/'
        image [i] = '<img src=http://themes.layero.com/grahawp/wp-content/uploads/2013/10/img3-500x418.jpg width="500px" height="200px">';
        type [i] = 'Apartment';
        status [i] = 'rent';
        area [i] = '2400Sq Ft';
        beds [i] = '3';
        baths [i] = '2';
        amenities [i] = '<li>Air Conditioning</li><li>Attached Baths</li><li>Balcony</li><li>Bath Tub</li><li>Fully Furnished</li><li>Garage</li><li>Garden</li><li>Parking</li><li>Pool</li>';
        agent [i] = 'charles@webnesters.com';
        i++;
      script(type='text/javascript').
        locations [i] = [ 34.069849, -118.300720];
        mapicon [i] =  '<img width="80" height="80" src="http://themes.layero.com/grahawp/wp-content/uploads/2013/10/Capture-80x80.png" class="attachment-mapimage wp-post-image" alt="Capture" />';
        title [i] = 'Normandie Ave Los Angeles, CA 90004';
        link [i] = 'http://themes.layero.com/grahawp/listings/normandie-ave-los-angeles-ca-90004-2/'
        image [i] = '<img src=http://themes.layero.com/grahawp/wp-content/uploads/2013/10/Capture-500x418.png width="500px" height="200px">';
        type [i] = 'Apartment';
        status [i] = 'buy';
        area [i] = '2300Sq Ft';
        beds [i] = '4';
        baths [i] = '4';
        amenities [i] = '<li>Air Conditioning</li><li>Attached Baths</li><li>Balcony</li><li>Bath Tub</li><li>Fully Furnished</li><li>Garage</li><li>Garden</li><li>Gas Range</li>';
        agent [i] = 'charles@example.com';
        i++;
      script(type='text/javascript').
        locations [i] = [ 34.074444, -118.300096];
        mapicon [i] =  '<img width="80" height="80" src="http://themes.layero.com/grahawp/wp-content/uploads/2013/10/img1-80x80.jpg" class="attachment-mapimage wp-post-image" alt="img1" />';
        title [i] = '115 S Kenmore Ave Los Angeles, CA 90004';
        link [i] = 'http://themes.layero.com/grahawp/listings/apartment-in-sutter-la/'
        image [i] = '<img src=http://themes.layero.com/grahawp/wp-content/uploads/2013/10/img1-500x418.jpg width="500px" height="200px">';
        type [i] = 'Apartment';
        status [i] = 'rent';
        area [i] = '2400Sq Ft';
        beds [i] = '3';
        baths [i] = '2';
        amenities [i] = '<li>Air Conditioning</li><li>Attached Baths</li><li>Balcony</li><li>Fireplace</li><li>Fully Furnished</li><li>Gas Range</li><li>Intruder Alarm</li><li>Parking</li><li>Pool</li>';
        agent [i] = 'charles@webnesters.com';
        i++;
      script(type='text/javascript').
        locations [i] = [ 34.072009, -118.295740];
        mapicon [i] =  '<img width="80" height="80" src="http://themes.layero.com/grahawp/wp-content/uploads/2013/10/img2-1-80x80.jpg" class="attachment-mapimage wp-post-image" alt="img2 (1)" />';
        title [i] = '123 S Catalina St Los Angeles, CA 90004 United States';
        link [i] = 'http://themes.layero.com/grahawp/listings/123-s-catalina-st-los-angeles-ca-90004-united-states/'
        image [i] = '<img src=http://themes.layero.com/grahawp/wp-content/uploads/2013/10/img2-1-500x418.jpg width="500px" height="200px">';
        type [i] = 'Apartment';
        status [i] = 'buy';
        area [i] = '2100Sq Ft';
        beds [i] = '2';
        baths [i] = '2';
        amenities [i] = '<li>Air Conditioning</li><li>Attached Baths</li><li>Balcony</li><li>Fireplace</li><li>Fully Furnished</li><li>Gas Range</li><li>Intruder Alarm</li><li>Parking</li><li>Pool</li>';
        agent [i] = 'charles@webnesters.com';
        i++;
      .map
        #map.map-inner(style='height: 525px;width: 100%')
    .featured-area
      .container
        .row
          .col-md-8
            .featured-property
          .search-container.clearfix
            .search-box
              form.searchform(method='get', action='http://themes.layero.com/grahawp')
                fieldset
                  .toggle.toggle-light(style='text-align:center')
                  select#location.form-control(name='location')
                    option(value='', selected='selected') Location
                    option(value='central-la') Central LA
                    option(value='west-lake') West Lake
                    option(value='edendale') Edendale
                    option(value='south-catalina') South Catalina
                    option(value='la-2') Los Angeles
                  select#property_type.form-control(name='property_type')
                    option(value='', selected='selected') Property Type
                    option(value='villa') Villa
                    option(value='apartment') Apartment
                  select#bed.form-control(name='bed')
                    option(value='', selected='selected') Bedrooms
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                  select#bath.form-control(name='bath')
                    option(value='', selected='selected') Bathrooms
                    option(value='2') 2
                    option(value='4') 4
                    option(value='1') 1
                  script(type='text/javascript').
                    jQuery(function() {
                    "use strict";
                    jQuery( "#slider-range" ).slider({
                    range: true,
                    min: 2500,
                    max: 368000,
                    values: [ 2500, 368000 ],
                    slide: function( event, ui ) {
                    jQuery( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                    jQuery( "#price" ).val(jQuery( "#slider-range" ).slider( "values", 0 ) + "-" + jQuery( "#slider-range" ).slider( "values", 1 ) );
                    }
                    });
                    jQuery( "#amount" ).val( "$" + jQuery( "#slider-range" ).slider( "values", 0 ) + " - $" + jQuery( "#slider-range" ).slider( "values", 1 ) );
                    jQuery( "#price" ).val(jQuery( "#slider-range" ).slider( "values", 0 ) + "-" + jQuery( "#slider-range" ).slider( "values", 1 ) );
                    });
                  .price-range-area.clearfix
                    input#amount.price-range-text(type='text', readonly='readonly')
                    #slider-range
                  .search-button
                    input#price(type='hidden', name='price')
                    input#orderby(type='hidden', name='orderby', value='date')
                    input#listings(type='hidden', name='listings', value='true')
                    input.btn.btn-green(type='submit', value='SEARCH NOW', style='margin:0 auto; width:200px;')
    .bottoom-text
      .container
        .col-md-4
          .block1
            .icon
              img(src='http://themes.layero.com/grahawp/wp-content/themes/graha/images/icon3.png', alt='image')
            h1 Guidelines
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .readmore
              a.btn.btn-green.pad_small(href='http://themes.layero.com/grahawp/guidelines/') Readmore
        .col-md-4
          .block1
            .icon
              img(src='http://themes.layero.com/grahawp/wp-content/themes/graha/images/icon2.png', alt='image')
            h1 Real Estate
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .readmore
              a.btn.btn-green.pad_small(href='http://themes.layero.com/grahawp/real-estate/') Readmore
        .col-md-4
          .block1
            .icon
              img(src='http://themes.layero.com/grahawp/wp-content/themes/graha/images/icon1.png', alt='image')
            h1 About Us
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .readmore
              a.btn.btn-green.pad_small(href='http://themes.layero.com/grahawp/sample-page/') Readmore
    .clearfix
    .footer
      .container
        .col-md-4
          h2 Quick Links
          ul
            li
              a(href='http://themes.layero.com/grahawp/') Home
        .col-md-4
        .col-md-4
          h2 Contact us
          p
            | Our Address Line
            br
            | Our Street Address
            br
            | Dar es salaam
          .email barnabasmakonda@gmail.com
          .phone +255685557050
          .social
            ul.nav
              li.scoialt
                a.facebook(href='https://www.facebook.com/', target='_blank')
              li.scoialt
                a.twitter(href='http://twitter.com/', target='_blank')
              li.scoialt
                a.google(href='https://mail.google.com', target='_blank')
              li.scoialt
                a.rss(href='http://themes.layero.com/grahawp/feed/', target='_blank')
              li.scoialt
                a.pintrest(href='http://pinterest.com/', target='_blank')
              li.scoialt
                a.digg(href='', target='_blank')
      .copyright
        .container
          .col-xs-12.col-sm-6.col-md-8 &copy; 2014 Barnabas Makonda |  All rights reserved.
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45248739-1', 'layero.com');
      ga('send', 'pageview');
    script(type='text/javascript', src='/javascripts/toggles.js')
    script(type='text/javascript', src='/javascripts/custom.js')
    // map vendor javasript
    script(type='text/javascript', src='/javascripts/vendor/gmap/gmap3.min.js')
    script(type='text/javascript', src='/javascripts/vendor/gmap/gmap3.infobox.min.js')
    script(type='text/javascript', src='/javascripts/vendor/gmap/gmap3.clusterer.js')
    // bootstrap
    script(type='text/javascript', src='/javascripts/vendor/bootstrap/bootstrap.js')
    // jquery-vendor
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.bxslider.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.flexslider.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.mCustomScrollbar.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery-ui.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.prettyPhoto.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.validationEngine.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.panorama.js')
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.ui.touch-punch.min.js')
    // palette for demo
